# API keys - NEVER commit this
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment 
venv/
env/
.venv/
page_ind/



# Logs 
logs/


# OS files
Thumbs.db          
# IDE files
.vscode/
.idea/

*.egg-info/
dist/
build/
.pytest_cache/